absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.7.4.post0
ansicon==1.89.0
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.5.0
astroid==2.5.2
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.4.0
autobahn==21.3.1
Automat==20.2.0
autopep8==1.5.7
awscli==1.20.64
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
binance==0.3
bleach==4.1.0
blessed==1.17.6
botocore==1.21.64
bs4==0.0.1
CacheControl==0.12.6
cachetools==5.0.0
cachy==0.3.0
cattrs==1.10.0
ccxt==1.58.71
certifi==2021.10.8
cffi==1.14.5
chalice==1.26.1
chardet==4.0.0
charset-normalizer==2.0.12
cleo==0.8.1
click==8.0.1
clikit==0.6.2
colorama==0.4.3
conf==0.4.1
config==0.5.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crashtest==0.3.1
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
dateparser==1.0.0
DateTime==4.3
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.2
dj-database-url==0.5.0
Django==4.0.3
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.2
django-environ==0.7.0
django-extensions==3.1.3
django-heroku==0.3.1
django-ninja==0.15.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
docopt==0.6.2
docutils==0.15.2
drf-yasg==1.20.0
entrypoints==0.3
environ==1.0
etherscan==0.3.0
etherscan-python==2.1.0
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
forex-python==1.6
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.1.0
h11==0.12.0
h2==3.2.0
h5py==3.6.0
hpack==3.0.0
html5lib==1.1
httptools==0.2.0
huggingface-hub==0.1.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.2
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
inquirer==2.7.0
integrate==1.3.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.8.0
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.18.0
Jinja2==3.0.2
jinxed==1.1.0
jmespath==0.10.0
joblib==1.1.0
jsonschema==4.1.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libclang==13.0.0
lockfile==0.12.2
logilab-common==1.8.1
loguru==0.5.3
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
multidict==5.2.0
multiprocess==0.70.12.2
multitasking==0.0.9
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.7
notebook==6.4.5
numpy==1.22.2
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
orjson==3.6.4
packaging==20.9
pandas==1.2.4
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.2
pastel==0.2.1
path==16.2.0
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
pd==0.0.4
pdfkit==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2021.5.29
pipreqs==0.4.10
pkginfo==1.7.1
platformdirs==2.3.0
plotly==5.3.1
pluggy==1.0.0
poetry==1.1.11
poetry-core==1.0.7
prettytable==2.2.1
priority==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
Protego==0.1.16
protobuf==3.19.4
pscp==0.0.3
psycopg2==2.9.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycodestyle==2.7.0
pycoingecko==2.2.0
pycparser==2.20
pydantic==1.8.2
PyDispatcher==2.0.5
Pygments==2.10.0
PyJWT==2.0.1
pylev==1.4.0
pylint==2.7.4
pylint-django==2.4.2
pylint-plugin-utils==0.6
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyproject-toml==0.0.10
pyrsistent==0.18.0
pyTelegramBotAPI==4.0.1
pytest==6.2.5
python-binance==0.7.11
python-dateutil==2.8.1
python-dotenv==0.19.0
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.2.0
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==1.1.4
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
queuelib==1.6.2
readchar==2.0.1
regex==2021.4.4
requests==2.27.1
requests-cache==0.9.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.14.0
rsa==4.8
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sacremoses==0.0.46
scikit-image==0.19.2
scikit-learn==1.0
scipy==1.7.1
scrape==0.11.1
Scrapy==2.5.0
selenium==3.141.0
Send2Trash==1.8.0
service-identity==18.1.0
shellingham==1.4.0
simplejson==3.17.5
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
sqlparse==0.4.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.8.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
tifffile==2022.2.9
tldextract==3.1.2
tokenizers==0.10.3
toml==0.10.2
tomlkit==0.7.2
toolz==0.11.1
torch==1.8.1+cpu
torchvision==0.9.1+cpu
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.12.3
Twisted==21.2.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==2.1
ujson==4.0.2
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.8
uvicorn==0.15.0
virtualenv==20.7.2
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.6
vk==2.0.2
vk-api==11.9.4
w3lib==1.22.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.3
whitenoise==5.3.0
widgetsnbextension==3.5.1
win32-setctime==1.0.3
wincertstore==0.2
wrapt==1.13.3
yahoofinancials==1.6
yarg==0.1.9
yarl==1.6.3
yfinance==0.1.64
zipp==3.7.0
zope.interface==5.4.0
